.comment.row.my-4{:id => "comment-#{question.id}"}
  .col-md-1.avatar
    = image_tag question.user.avatar.url(:small)
  .col-md-11.body
    = link_to question.user.name, question.user, class: 'username'
    %span.at
      = time_ago_in_words(question.created_at)
      ago
      - if can? :destroy, question #current_user and comment.user == current_user or current_user.admin?
        = link_to 'Delete', note_question_path(@note, question), method: :delete, remote: true, class: 'pull-right'
    %p.content= question.content
