
#question-show
  .container
    .qs-internal
      .ad.mb-4
        %script{:async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        / Questions inPage
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8740559156368061", "data-ad-format" => "horizontal", "data-ad-slot" => "9850137305", "data-full-width-responsive" => "true", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
      .thread-article
        .info-action
          .actions
            %nav.nav
              = link_to (@question.note.present? ? note_path(@question.note) : questions_url(:grade => @question.grade.name, :category => @question.category.name, :chapter => @question.chapter.id)), class: "nav-link question-back-action" do
                %i.fas.fa-angle-left
                Back
              - if can? :update, @question
                = link_to "Edit", edit_question_path(@question), class: "nav-link questionquestion-edit-action"
                = link_to "Delete", question_path(@question), method: :delete, data: { confirm: "Are you sure? Deleting your question is irreversible." }, class: "nav-link question-delete-action"
        .thread-question
          .question-card-content
            .question-card-header
              .q-user-avater
                = link_to (image_tag @question.user.avatar_address(:medium)), @question.user
              .q-user-info
                = link_to @question.user do
                  %span.name= @question.user.name
                  %span.asked= "asked in #{@question.note.present? ? @question.note.title : @question.chapter.name}"
            - if @question.note.present?
              .question-card-note
                .note.mb-1
                  %h3.title= truncate @question.note.title, length: 40
                  %p.body.mb-0
                    = truncate sanitize(@question.note.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 290
            .question-card-body
              = simple_format(@question.content, {}, :sanitize => false)
            .question-card-actions.btn-group
              - if user_signed_in?
                %a.q-upvote.q-card-action{:id => "#{@question.id}@#!"}= "Helpful (#{@question.get_upvotes.size})"
                %a.toggle-answer-modal.q-card-action= 'Answer this thread'
              - else
                %a.trigger-sign-in.q-card-action{"data-toggle" => "modal", :href => "#sign-in"} Sign in to Answer this Thread
              %a.q-card-info.muted
                %i.fa.fa-reply
                = pluralize(@question.answers.count, "Answer")
              %a.q-card-info.muted
                %i.fa.fa-eye
                = pluralize(@question.view, "View")
        .thread-answers
          - @answers.each do |answer|
            = render 'answers/answer', question: @question, answer: answer

          -# rendering modal form.
          - if user_signed_in?
            .submit-answer-modal.overlay.d-none
              .sa-modal-body.mr-animate-bitzoom
                .sa-model-content
                  .sa-model-header
                    %h3.sa-modal-title.mb-0= "Your answer to '#{truncate sanitize(@question.content, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 50}'"
                  .answer-form.form{:id => "question-#{@question.id}-answer-form"}
                    .body
                      - if can? :create, Answer
                        = render "answers/cform", :question => @question
                      - else
                        %p= 'You cannot create answers.'

            .edit-answer-modal.overlay.d-none
              .ea-modal-body.mr-animate-bitzoom
                .ea-model-content
                  .ea-model-header
                    %h3.ea-modal-title.mb-0= "Edit your answer to '#{truncate sanitize(@question.content, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 50}'"
                  .answer-form.form{:id => "question-#{@question.id}-answer-form"}
                    .edit-form-body
                      -# edit form will be rendered here.
