
- if feed.is_a? Question
  .feed-item
    .feed-item-content
      .feed-item-header
        .f-user-avater
          = image_tag feed.user.avatar_address(:medium)
        .f-user-info
          = link_to feed.user do
            %span.name= feed.user.name
          %span.asked
            - if feed.note.present? and feed.note.user == current_user
              = "asked in your note— #{truncate feed.note.title, length: 33}"
            - elsif feed.note.present?
              = "asked in a note— #{truncate feed.note.title, length: 33}"
            - else
              = "asked a question."
      .feed-item-body
        = simple_format(feed.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      -if feed.answers.present?
        .answered-by
          .avatar.d-inline
            = image_tag feed.top_ans.user.avatar_address(:small)
          .body.d-inline.ml-1
            %span.at
              = 'Answered'
        .feed-answer-body
          = simple_format(feed.top_ans.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      .feed-item-actions.btn-group
        = link_to question_path(feed), class: 'f-card-action' do
          %i.far.fa-eye
          Read this Thread
        %p.feed-item-info
          = "Has #{feed.answers.count} Answers"
- else
  .feed-item
    .feed-item-content
      .feed-item-header
        .f-user-avater
          = image_tag feed.question.user.avatar_address(:medium)
        .f-user-info
          = link_to feed.question.user do
            %span.name= feed.question.user.name
          %span.asked= "Your question is answered."
      .feed-item-body
        = simple_format(feed.question.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      .answered-by
        .avatar.d-inline
          = image_tag feed.user.avatar_address(:small)
        .body.d-inline.ml-1
          %span.at
            = 'Answered'
      .feed-answer-body
        = simple_format(feed.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      .feed-item-actions.btn-group
        = link_to question_path(feed.question), class: 'f-card-action' do
          %i.far.fa-eye
          = 'Read this Thread'
        %p.feed-item-info
          = "Has #{feed.question.answers.count} Answers"
