
- if feed.is_a? Question
  .feed-item
    .feed-item-content
      .feed-item-header
        .f-user-avater
          = image_tag feed.user.avatar.url(:medium)
        .f-user-info
          = link_to feed.user do
            %span.name= feed.user.name
          %span.asked
            - if feed.note.present? and feed.note.user == current_user
              = "asked in your note— #{truncate feed.note.title, length: 33}"
            - elsif feed.note.present?
              = "asked in a note— #{truncate feed.note.title, length: 33}"
            - else
              = "asked a question."
      .feed-item-body
        = simple_format(feed.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      .feed-item-actions.btn-group
        = link_to question_path(feed), class: 'f-card-action' do
          %i.far.fa-eye
          Read this Thread
        %p.feed-item-info
          = "Has #{feed.answers.count} Answers"

- elsif feed.is_a? Note
  .feed-item
    .feed-item-content
      .feed-item-header
        .f-user-avater
          = image_tag feed.user.avatar.url(:medium)
        .f-user-info
          = link_to feed.user do
            %span.name= feed.user.name
          %span.asked= "#{feed.created_at == feed.updated_at ? 'created' : 'had added'} a #{feed.category.name.humanize} note."
      .feed-item-body
        .note.mb-3
          .note_image.col-lg-5.col-md-12
            = image_tag feed.image.url(:small), class: 'img-note'
          .note_content.col-lg-7.col-md-12
            %h3.title.mb-1= truncate feed.title, length: 31
            %p.body.mb-4
              = truncate sanitize(feed.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 180
      .feed-item-actions.btn-group
        = link_to note_path(feed), class: 'f-card-action' do
          %i.far.fa-eye
          Read this Note
        %p.feed-item-info
          = "Read #{feed.view} times"

- else
  .feed-item
    .feed-item-content
      .feed-item-header
        .f-user-avater
          = image_tag feed.user.avatar.url(:medium)
        .f-user-info
          = link_to feed.user do
            %span.name= feed.user.name
          %span.asked= "answered to your question."
      .feed-item-body
        .question
          = simple_format(feed.question.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
        .answer
          = simple_format(feed.content.gsub('method="delete"', '').gsub("method='delete'", ''), {}, :sanitize => false)
      .feed-item-actions.btn-group
        = link_to question_path(feed.question), class: 'f-card-action' do
          %i.far.fa-eye
          = 'Read this Thread'
        %p.feed-item-info
          = "Has #{feed.question.answers.count} Answers"
