.col-sm-12
  .note
    .note_content.col-lg-8.col-md-12
      %p.info.mb-0
        = note.user.name
        = '•'
        = pluralize(note.view, "Read")
      = link_to note do
        %h3.title.my-1= note.title
        %p.body.mb-1
          = truncate sanitize(note.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 330 #truncate(strip_tags(note.body), length: 170)
    .note_image.col-lg-4.col-md-12.d-none.d-lg-block
      = link_to (image_tag note.image.url(:small)), note, class: 'img-note'
