.col-sm-12
  .question.p-3
    = link_to question do
      %p.user-info.mb-2= "'#{question.user.name}' asked in '#{question.note.present? ? question.note.title : 'Library'}'"
      %h3.title.mb-4= truncate sanitize(question.content, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 200
      %p.buttons.align-self-end.mb-2
        %span
          %i.fa.fa-reply
          = pluralize(question.answers.count, "Answer")
        %span
          %i.fa.fa-thumbs-up
          = "Helpful (#{question.get_upvotes.size})"
        %span
          %i.fa.fa-eye
          = pluralize(question.view, "View")
