
.banner
  .banner-content
    .search-bar.mt-5.p-3.p-lg-1.pl-lg-4
      %form{:action => "/search"}
        .row
          .col-lg-9.d-flex.align-items-center.form-group
            %input.form-control.border-0.shadow-0{"aria-label" => "Search", :placeholder => "Your Question...", :name => "query", :type => "search"}
          .col-lg-3
            %button.btn.btn-block.rounded-xl.h-100{:type => "submit"} Ask Mattrab
    %p#intro
      What's your question? See how your friends have answered them at mattrab.

.sticky-subnav
  .subnav-row
    .twelve.columns
      %ul.sticky-subnav-list
        %li.cat-item.cat-item-1541
          = link_to "Science", notes_url(:category => :science)
        %li.cat-item.cat-item-2042
          = link_to "Social Education", notes_url(:category => :social)
        %li.cat-item.cat-item-1313
          = link_to "Physics", notes_url(:category => :physics)
        %li.cat-item.cat-item-2054
          = link_to "Chemistry", notes_url(:category => :chemistry)
        %li.cat-item.cat-item-1311
          = link_to "Mathematics", notes_url(:category => :maths)
        %li.cat-item.cat-item-1320
          = link_to "Computer", notes_url(:category => :computer)
        %li.cat-item.cat-item-1320
          = link_to "Past Pappers", notes_url(:category => :pastpapers)
        %li.cat-item.cat-item-1320
          = link_to "Solutions", notes_url(:category => :solution)
        %li.cat-item.cat-item-1320
          = link_to "Nepali", notes_url(:category => :nepali)
        %li.cat-item.cat-item-1320
          = link_to "English", notes_url(:category => :english)

.sticky-subnav-space

.sponsers
  .sponsers-row
    .twelve.columns
      %ul.sponser-list
        %li.sponser-item.desktop
          = image_tag 'sponsor1.jpg'
        %li.sponser-item.all
          = image_tag 'sponsor2.png'
        %li.sponser-item.all
          = image_tag 'sponsor3.jpg'
        %li.sponser-item.all
          = image_tag 'sponsor4.jpg'
        %li.sponser-item.desktop
          = image_tag 'sponsor5.jpg'

#notes
  .container
    %h3.title= 'Trending Notes'
    .row.flex-grid
      - @notes.each do |note|
        .col-md-4.col-lg-3
          .note
            = link_to (image_tag note.image.url(:small)), note, class: 'img-note'
            .note_content
              %p.info.mb-2
                = note.user.name
                = '•'
                = 'Science'
              %h2.title= link_to note.title, note
              %p.body
                = truncate(simple_format(note.body), :length => 150)
              %p.buttons
                %span
                  %i.fa.fa-comments-o
                  = pluralize(note.comments.count, "Comment")
                %span
                  %i.fa.fa-thumbs-o-up
                  = pluralize(note.get_upvotes.size, "Like")
                %span
                  %i.fa.fa-eye
                  = pluralize(note.view, "View")
