#note-index
  .sticky-subnav
    .subnav-row
      .twelve.columns
        %ul.sticky-subnav-list.grade-list
          - if user_signed_in?
            - current_user.grade.categories.each do |category|
              %li.cat-item.category-item
                = link_to category.name.humanize, notes_url(:grade=>"#{current_user.grade.name}", :category=>"#{category.name}")
          - else
            - Grade.all.each do |grade|
              %li.cat-item.grade-item
                = link_to grade.name.humanize, "#", class: "grade-link", id: grade.name
                %ul.sticky-subnav-list.category-list{:id=>grade.name}
                  %li.cat-item.back-item
                    = link_to "#", class: "back-link" do
                      %i.fas.fa-arrow-left
                      = "Back to Grades"
                  - grade.categories.each do |category|
                    %li.cat-item.category-item
                      = link_to category.name.humanize, notes_url(:grade=>"#{grade.name}", :category=>"#{category.name}")

  .sticky-subnav-space

  .ni-body
    .container
      #notes.row.flex-grid
        - if @notes.present?
          = render @notes
        - elsif user_signed_in?
          = link_to "Please select your interested subjects or categories to browse resources.", edit_user_registration_path, class: "w-100 text-center"
      .row.pagination-nav.is.justify-content-center
        = will_paginate @notes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
