#note-index
  .ni-body
    .container
      .row
        .menu-col.col-md-4.col-lg-3.offset-lg-1
          .menu.chapters-menu
            %input.search-chapters{:placeholder => "Search chapters..", :type => "text"}
            .chapters-wrap
              %ul.chapters
                - Category.joins(:grade).where(grades: { name: @grade }, name: @category).first.chapters.each do |chapter|
                  %li= link_to chapter.name, notes_url(:grade=>"#{@grade}", :category=>"#{@category}", :chapter=>"#{chapter.id}"), class: "#{'active' if chapter.id == @chapter.to_i}"
            %a.close-chapter-menu.d-block.d-md-none
              %i.fas.fa-times
              Close Menu
        .notes-questions-col.col-md-8.col-lg-7
          .ni-note-info
            %nav{"aria-label" => "breadcrumb"}
              %ol.breadcrumb
                %li.breadcrumb-item.active{"aria-current" => "page"}= "Class #{@grade.humanize} #{@category.humanize}"
                %li.breadcrumb-item.active{"aria-current" => "page"}
                  %h1= Chapter.find(@chapter).name
          %ul.ni-note-tab
            %li.tab-link
              %a#notes.active
                %span.badge= @notes.count
                Chapter Notes
            %li.tab-link
              %a#questions
                %span.badge= @questions.count
                Exercise Questions
          .tabcontent#notes.active.row.flex-grid
            .index-ad
              %script{:async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
              / Notes inPage
              %ins.adsbygoogle{"data-ad-client" => "ca-pub-8740559156368061", "data-ad-format" => "horizontal", "data-ad-slot" => "8293088026", "data-full-width-responsive" => "true", :style => "display:block"}
              :javascript
                (adsbygoogle = window.adsbygoogle || []).push({});
            - if @notes.present?
              = render @notes
            - else
              %p.mt-5.no-notes-message
                %i.fas.fa-info-circle
                There are no notes in Mattrab Library for this chapter yet.
                %br
                - if can? :create, Note
                  = link_to 'Create Note', new_note_path, class: "btn btn-sm btn-std px-5 mt-4"
                - else
                  = link_to 'Ask a question', new_question_path, class: "btn btn-sm btn-std px-5 mt-4"
          .tabcontent#questions.row.flex-grid
            .index-ad
              %script{:async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
              / Questions inPage
              %ins.adsbygoogle{"data-ad-client" => "ca-pub-8740559156368061", "data-ad-format" => "horizontal", "data-ad-slot" => "9850137305", "data-full-width-responsive" => "true", :style => "display:block"}
              :javascript
                (adsbygoogle = window.adsbygoogle || []).push({});
            - if @questions.present?
              %ol.questions
                = render @questions
            - else
              %p.mt-5.no-notes-message
                %i.fas.fa-info-circle
                There are questions in Mattrab Library for this chapter yet.
                %br
                = link_to 'Ask a question', new_question_path, class: "btn btn-sm btn-std px-5 mt-4"

          -# .row.pagination-nav.is.justify-content-center
            = will_paginate @notes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
