
:javascript
  $(document).ready( function() {
    $("#like").click(function(){
      $.ajax({
        url: "#{like_note_path(@note)}",
        type: "put",
        data: {},
        success: function(data) {
          if (data.count == 1){
            $(".likes-count").html(data.count + "Like");
          }else{
            $(".likes-count").html(data.count + "Likes");
          }
        },
        error: function(data) {}
      })
    });
  });

#note-show
  .container
    .row.py-5
      .this-note.col-md-9
        .page
          .unit-head
            .headline
              .col-md-8.heading
                %p.unit-name.mb-0= @note.title
              .col-md-4.image
                = image_tag @note.image.url(:small)
            -# .objective.row
            -#   %ul.items
            -#     - @note.tags.each do |tag|
            -#       %li
            -#         %i.fa.fa-check-square-o
            -#         = tag
          .head-nav
            .col-md-12
              %nav.nav.justify-content-center
                - if user_signed_in?
                  %button#like.nav-link.first
                    %i.fa.fa-thumbs-up
                    %span.likes-count= pluralize(@note.get_upvotes.size, "Like")
                - else
                  = link_to new_user_session_path, class: "nav-link first mb-0" do
                    %i.fa.fa-thumbs-up
                    %span.likes-count= pluralize(@note.get_upvotes.size, "Like")
                %p.nav-link.mb-0
                  %i.fa.fa-comments
                  = pluralize(@note.questions.count, "Question")
                %p.nav-link.mb-0
                  %i.fa.fa-eye
                  = pluralize(@note.view, "View")
                %p.nav-link.mb-0
                  %i.fa.fa-hashtag
                  = @note.category
                %p.nav-link.mb-0
                  %i.fa.fa-share-alt
                  by
                  = link_to @note.user.name, @note.user
                  = time_ago_in_words(@note.created_at)
                  ago
                - if can? :update, @note
                  = link_to "Edit", edit_note_path(@note), class: "nav-link note-action"
                - if can? :destroy, @note
                  = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link note-action"
          .unit-body
            = simple_format(@note.body, {}, :sanitize => false)
            .ad
              = image_tag 'adhere.png'

        .author.mt-3.mb-2
          .author-info
            = link_to (image_tag @note.user.avatar.url(:medium)), @note.user, class: 'author-avatar'
            = link_to @note.user.name, @note.user, class: 'author-name'
          .author-description
            %p.about.mb-0
              = truncate(@note.user.about, :length => 250)
              %span.followers.mt-2= pluralize(@note.user.followers.count, "Follower")

        .discussions.mt-3.mb-2
          %h3.title.mb-3 Discussions
          .ask.pb-2
            .question-form.form.row
              - if user_signed_in?
                -# .col-md-1.avatar
                -#   = image_tag current_user.avatar.url(:small)
                .col-md-12.body
                  - if can? :create, Question
                    = render "questions/form"
                  - else
                    %p= 'You cannot create questions.'
              - else
                %p.login-msg
                  = 'Please '
                  = link_to "Sign In", new_user_session_path
                  = 'to ask your question.'

          #qa-threads
            - @questions.each do |question|
              .qa-thread.mt-3.mb-4{:id => "qa-thread-#{question.id}"}
                = render 'questions/question', question: question

                .answers{:id => "answers-#{question.id}"}
                  - question.answers.each do |answer|
                    = render 'answers/answer', question: question, answer: answer
                  - if user_signed_in?
                    %a.btn-sm{"aria-controls" => "#question-#{question.id}-answer-form", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#question-#{question.id}-answer-form", :role => "button"}
                      = 'Answer this thread'
                    .answer-form.form.row.collapse.mt-3{:id => "question-#{question.id}-answer-form"}
                      .col-md-12.body
                        - if can? :create, Answer
                          = render "answers/form", :question => question
                        - else
                          %p= 'You cannot create answers.'
                  - else
                    %p.login-msg
                      = 'Please '
                      = link_to "Sign In", new_user_session_path
                      = 'to answer question.'

      .random-notes.col-md-3
        -# %h3.title.mb-3 Related Notes
        .random-note
          = link_to (image_tag @random_note.image.url(:small)), @random_note, class: 'img-note'
          .note_content
            %p.info.mb-2
              = @random_note.user.name
              = '•'
              = @random_note.category.capitalize
            %h2.title= link_to @random_note.title, @random_note
            %p.body
              = truncate sanitize(@random_note.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 150
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = pluralize(@random_note.questions.count, "Question")
              %span
                %i.fa.fa-thumbs-o-up
                = pluralize(@random_note.get_upvotes.size, "Like")
              %span
                %i.fa.fa-eye
                = pluralize(@random_note.view, "View")







-# #note-show
-#   #header
-#     .container
-#       .show-head-title.pt-5
-#         %h2.show-title.mb-2= @note.title
-#       .show-head-nav.row
-#         .col-md-12
-#           %nav.nav
-#             - if user_signed_in?
-#               = link_to like_note_path(@note), method: :get, remote: true, class: "nav-link first" do
-#                 %i.fa.fa-thumbs-o-up
-#                 = pluralize(@note.get_upvotes.size, "Like")
-#               = link_to dislike_note_path(@note), method: :get, remote: true, class: "nav-link" do
-#                 %i.fa.fa-thumbs-o-down
-#                 = pluralize(@note.get_downvotes.size, "Dislike")
-#             - else
-#               %p.nav-link.first.mb-0
-#                 = link_to "Sign In", new_user_session_path
-#                 = 'to like or dislike.'
-#             %p.nav-link.mb-0
-#               %i.fa.fa-comments
-#               = pluralize(@note.comments.count, "Comment")
-#             %p.nav-link.mb-0
-#               %i.fa.fa-eye
-#               = pluralize(@note.view, "View")
-#             %p.nav-link.mb-0
-#               %i.fa.fa-hashtag
-#               = @note.category
-#             %p.nav-link.mb-0
-#               %i.fa.fa-share-alt
-#               by
-#               = link_to @note.user.name, @note.user
-#               = time_ago_in_words(@note.created_at)
-#               ago
-#             - if can? :update, @note
-#               = link_to "Edit", edit_note_path(@note), class: "nav-link note-action"
-#             - if can? :destroy, @note
-#               = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link note-action"
-#
-#   #page
-#     .container
-#       .row.py-5
-#         .col-md-8.this-note
-#           %p
-#             = @note.status
-#             = @note.is_verified
-#           .body= simple_format(@note.body)
-#           = image_tag @note.image.url(:medium), class:'banner-img mb-3'
-#           .author.my-5
-#             .row.author-info
-#               = link_to (image_tag @note.user.avatar.url(:medium)), @note.user, class: 'author-avatar'
-#               = link_to @note.user.name, @note.user, class: 'author-name'
-#             .row.author-description
-#               %p.about
-#                 = truncate(@note.user.about, :length => 250)
-#                 %span.followers.mt-2= pluralize(@note.user.followers.count, "Follower")
-#           .comments.pt-3
-#             .form-pane
-#               .form.row
-#                 - if user_signed_in?
-#                   .col-md-1.avatar
-#                     = image_tag current_user.avatar.url(:small)
-#                   .col-md-11.body
-#                     = render "comments/form"
-#                 - else
-#                   %p.login-msg
-#                     = 'Please '
-#                     = link_to "Sign In", new_user_session_path
-#                     = 'to write your comment.'
-#             #comments-pane
-#               - @comments.each do |comment|
-#                 = render 'comments/comment', comment: comment
-#
-#         .col-md-4.random-notes
-#           %h3.title.mb-3 Related Notes
-#           .random-note
-#             = link_to (image_tag @random_note.image.url(:small)), @random_note, class: 'img-note'
-#             .note_content
-#               %p.info.mb-2
-#                 = @random_note.user.name
-#                 = '•'
-#                 = @random_note.category.capitalize
-#               %h2.title= link_to @random_note.title, @random_note
-#               %p.body
-#                 = truncate(simple_format(@random_note.body), :length => 150)
-#               %p.buttons
-#                 %span
-#                   %i.fa.fa-comments-o
-#                   = pluralize(@random_note.comments.count, "Comment")
-#                 %span
-#                   %i.fa.fa-thumbs-o-up
-#                   = pluralize(@random_note.get_upvotes.size, "Like")
-#                 %span
-#                   %i.fa.fa-eye
-#                   = pluralize(@random_note.view, "View")
