#note_show
  %h1= @note.title
  %p.username
    Shared by
    = link_to @note.user.name, @note.user
    = time_ago_in_words(@note.created_at)
    ago
  .clearfix
    .note_image_body
      = image_tag @note.image.url(:medium)
      .body= simple_format(@note.body)
    .note_data
      = link_to like_note_path(@note), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@note.get_upvotes.size, "Like")
      = link_to dislike_note_path(@note), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@note.get_downvotes.size, "Dislike")
      %p.data
        %i.fa.fa-comments-o
        = pluralize(@note.comments.count, "Comment")
      %p.data
        %i.fa.fa-eye
        = pluralize(@note.view, "View")
      - if @note.user == current_user
        = link_to "Edit", edit_note_path(@note), class: "data"
        = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
    #random_note
      %h3 Related Notes
      .note
        .note_image
          = link_to (image_tag @random_note.image.url(:medium)), note_path(@random_note)
        .note_content
          .title
            %h2= link_to @random_note.title, note_path(@random_note)
          .data.clearfix
            %p.username
              Shared by
              = @random_note.user.name
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_note.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_note.get_likes.size

#comments
  = render "comments/form"
  %h2.comment_count= pluralize(@note.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
