
#note-show
  #header
    .container
      .show-head-title.pt-5
        %h2.show-title.mb-2= @note.title
      .show-head-nav.row
        .col-md-12
          %nav.nav
            = link_to like_note_path(@note), method: :get, class: "nav-link first" do
              %i.fa.fa-thumbs-o-up
              = pluralize(@note.get_upvotes.size, "Like")
            = link_to dislike_note_path(@note), method: :get, class: "nav-link" do
              %i.fa.fa-thumbs-o-down
              = pluralize(@note.get_downvotes.size, "Dislike")
            %p.nav-link.mb-0
              %i.fa.fa-comments
              = pluralize(@note.comments.count, "Comment")
            %p.nav-link.mb-0
              %i.fa.fa-eye
              = pluralize(@note.view, "View")
            %p.nav-link.mb-0
              %i.fa.fa-hashtag
              = @note.category
            %p.nav-link.mb-0
              %i.fa.fa-share-alt
              by
              = link_to @note.user.name, @note.user
              = time_ago_in_words(@note.created_at)
              ago
            - if @note.user == current_user
              = link_to "Edit", edit_note_path(@note), class: "nav-link note-action"
              = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link note-action"

  #page
    .container
      .row.py-5
        .col-md-8.this-note
          .body= simple_format(@note.body)
          = image_tag @note.image.url(:medium), class:'banner-img mb-3'
          .author.my-5
            .row.author-info
              = link_to (image_tag @note.user.avatar.url(:medium)), @note.user, class: 'author-avatar'
              = link_to @note.user.name, @note.user, class: 'author-name'
            .row.author-description
              %p.about
                = truncate(@note.user.about, :length => 250)
                %span.followers.mt-2= pluralize(@note.user.followers.count, "Follower")
          .comments.pt-3
            .form.row
              - if user_signed_in?
                .col-md-1.avatar
                  = image_tag current_user.avatar.url(:small)
                .col-md-11.body
                  = render "comments/form"
              - else
                %p.login-msg
                  = 'Please '
                  = link_to "Sign In", new_user_session_path
                  = 'to write your comment.'
            - @comments.each do |comment|
              .comment.row
                .col-md-1.avatar
                  = image_tag comment.user.avatar.url(:small)
                .col-md-11.body
                  = link_to comment.user.name, comment.user, class: 'username'
                  %span.at
                    = time_ago_in_words(comment.created_at)
                    ago
                  %p.content= comment.content
        .col-md-4.random-notes
          %h3.title.mb-3 Related Notes
          .random-note
            = link_to (image_tag @random_note.image.url(:small)), @random_note, class: 'img-note'
            .note_content
              %p.info.mb-2
                = @random_note.user.name
                = '•'
                = 'Science'
              %h2.title= link_to @random_note.title, @random_note
              %p.body
                = truncate(simple_format(@random_note.body), :length => 150)
              %p.buttons
                %span
                  %i.fa.fa-comments-o
                  = pluralize(@random_note.comments.count, "Comment")
                %span
                  %i.fa.fa-thumbs-o-up
                  = pluralize(@random_note.get_upvotes.size, "Like")
                %span
                  %i.fa.fa-eye
                  = pluralize(@random_note.view, "View")
