
#profile-edition-layout
  .this-wrap
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'edit-user-form' }) do |f|
      .container
        .col-md-3
          .this-face-wrap.mb-4
            %span.badge-base
              %span.badge.center= @user.role
            .this-face
              .face
                = image_tag @user.avatar.url(:pro), class: "img-circle center img-edit-preview"
                %label{:for => "user_avatar", :title => "Update Photo"}
                  %i.fa.fa-camera
                = f.input :avatar, label: false
              %h2.name.mt-3.mb-2
                = @user.name
                - if @user.notes.count >= 15 or @user.creator? or @user.admin?
                  %span
                    %i.fa.fa-check-circle
              %ul.has.mt-0
                %li.has-info
                  %i.fa.fa-link
                  = "Has #{pluralize(@user.followers.count, "Follower")}"
                - if @user.creator? or @user.admin?
                  %li.has-info
                    %i.fa.fa-edit
                    = "Created #{pluralize(@user.notes.count, "Note")}"
                %li.has-info
                  %i.far.fa-question-circle
                  = "Asked #{pluralize(@user.questions.count, "Question")}"
                %li.has-info
                  %i.fa.fa-reply
                  = "Answered #{pluralize(@user.answered_questions.count, "Question")}"
              .follow.edit
                = f.button :submit, "Update", class: 'btn-std btn-sm btn-follow-edit'
        .col-md-9
          .this-property
            .settings
              .card
                .card-body
                  %h3= 'Edit Infos'
                  = f.input :name, required: true
                  = f.input :email, required: true
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %p Currently waiting confirmation for: #{resource.unconfirmed_email}
                  = f.input :grade_id, collection: Grade.order(:name), label_method: :name, value_method: :id, include_blank: false#, selected: @note.grade
                  .categories
                    - if current_user.admin? or current_user.teacher?
                      %label.category-label Moderating Categories
                    - else
                      %label.category-label Interested Categories
                    %br
                    - Grade.all.each do |grade|
                      .grade-category-list{id: grade.name}
                        = f.collection_check_boxes :category_ids, grade.categories.all, :id, :name
                  = f.input :about, required: false, placeholder: "Type about yourself here..."

                  -# - User.egrades.keys.each do |egrade|
                  -#   = f.radio_button :egrade, egrade
                  -#   = f.label egrade.to_sym
                  -# - if @user.admin?
                  -#   %br
                  -#   %label.label.mb-1{:for => "user_admin_category"} Admin
                  -#   = f.select :admin_category, User.admin_categories.map { |key, value| [key.humanize, key] }, input_html: { class: 'form-control' }

                  = f.input :password, placeholder: "New Password", hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password"}
                  = f.input :password_confirmation, placeholder: "Confirm New Password", required: false, input_html: { autocomplete: "new-password"}
                  = f.input :current_password, placeholder: "Current Password", hint: "current password is needed to confirm your changes", required: true, input_html: { autocomplete: "current-password"}
                  = f.error_notification
                  .form-actions.py-2
                    = f.button :submit, "Update", class: 'btn-sm btn-update'
                .card-footer.text-muted
                  %h3= 'Cancel my account'
                  %p.confirm= 'Unhappy? Deleting your account is irreversible.'
                  = link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-sm btn-delete'

            .space
