
.this-wrap
  .container
    .welcome.col-md-5
      %h2.title Hello, Friend!
      %p.messege.d-sm-none.d-md-block
        Share knowledges and learn together with your friends.
        %br This is cool way of learning, right?
      - if controller_name != 'sessions'
        %p.if.d-sm-none.d-md-block Already joined Mattrab Community?
        = link_to "Sign In", new_session_path(resource_name), class: "btn-std btn-else d-sm-none d-md-block"

    .form-wrap.signup.col-md-7
      .this-form
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            .form-label-group.mb-3
              = f.input :name, required: true, label: false, placeholder: "Your Name", autofocus: true, input_html: { autocomplete: "name", class: 'form-control' }
            .form-label-group.mb-3
              = f.input :email, required: true, label: false, placeholder: "you@mail.com", hint: "you have to confirm your email", input_html: { autocomplete: "email", class: 'form-control' }
            .form-label-group.mb-3
              = f.input :password, required: true, label: false, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }
            .form-label-group.mb-3
              = f.input :password_confirmation, required: true, label: false, placeholder: "Confirm Password", input_html: { autocomplete: "new-password", class: 'form-control' }
          .form-actions.pt-3
            = f.button :submit, "Sign up", class: 'btn-std btn-block btn-submit btn-signup'
