
#profile
  .this-wrap
    .container
      .col-md-3
        .this-face-wrap.mb-4
          %span.badge-base
            %span.badge.center= @user.role
          .this-face
            .face= image_tag @user.avatar.url(:pro), class: "img-circle center"
            %h2.name.mt-3.mb-2
              = @user.name
              - if @user.notes.count >= 15 or @user.creator? or @user.admin?
                %span
                  %i.fa.fa-check-circle
            .follow.edit
              - if user_signed_in?
                - if current_user != @user
                  - if !current_user.following?(@user)
                    = form_for(current_user.active_relationships.build) do |f|
                      = hidden_field_tag :followed_id, @user.id
                      = f.submit "Follow", class: "btn-std btn-sm btn-follow-edit"
                  - else
                    = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
                      = f.submit "Unfollow", class: "btn-std btn-sm btn-follow-edit"
                - else
                  = link_to "Edit Profile", edit_user_registration_path, class: 'btn-std btn-sm btn-follow-edit'
              - else
                = link_to "Follow", new_user_session_path, class: "btn-std btn-sm btn-follow-edit"
            %p.has.mt-4.mb-0
              = pluralize(@user.followers.count, "Follower")
              = '•'
              = pluralize(@user.notes.count, "Note")
            %p.email.mb-0= @user.email
      .col-md-9
        .this-property
          %p.this-text.mb-5
            %span.intro
              Hey, I'm
              = @user.name
              %br
            - if @user.about == nil and  @user == current_user
              = link_to "Write more about yourself here.", edit_user_registration_path
            - else
              = @user.about
          .notes
            %h3.title.mb-3= 'Latest Notes'
            - @user_notes.each do |note|
              .col-lg-9.col-md-10.col-sm-12
                .note
                  .note_image.col-md-5.col-sm-12
                    = link_to (image_tag note.image.url(:small)), note, class: 'img-note'
                  .note_content.col-md-7.col-sm-12
                    %p.info.mb-0
                      = note.user.name
                      = '•'
                      = note.category.capitalize
                    = link_to note do
                      %h2.title.mb-1= note.title
                      %p.body.mb-4
                        = truncate sanitize(note.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 170
                    %p.buttons.align-self-end.mb-2
                      %span
                        %i.fa.fa-comment-alt
                        = pluralize(note.questions.count, "Question")
                      %span
                        %i.fa.fa-thumbs-up
                        = pluralize(note.get_upvotes.size, "Like")
                      %span
                        %i.fa.fa-eye
                        = pluralize(note.view, "View")
              .col-lg-3.col-md-2.col-sm-12
                - if note.user == current_user or current_user.admin?
                  %p.status.mb-3
                    = note.is_verified ? "Verified" : "Not Verified"
                    = '•'
                    = note.status.humanize
                - if can? :update, note
                  = link_to "Edit", edit_note_path(note), class: "btn-sm"
                - if can? :destroy, note
                  = link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-sm delete"
          .pagination-nav.pt-4
            = will_paginate @user_notes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
          .space
