
#profile
  .this-wrap
    .container
      .col-md-3
        .this-face-wrap.mb-5
          %span.badge-base
            %span.badge.center= @user.role
          .this-face
            .face= image_tag @user.avatar_address(:pro), class: "img-circle center"
            %h2.name.mt-3.mb-2
              = @user.name
              - if @user.notes.count >= 15 or @user.creator? or @user.admin? or @user.superadmin?
                %span
                  %i.fa.fa-check-circle
            %ul.has.mt-0
              %li.has-info
                %i.fa.fa-link
                = "Has #{pluralize(@user.followers.count, "Follower")}"
              - if @user.creator? or @user.admin? or @user.superadmin?
                %li.has-info
                  %i.fa.fa-edit
                  = "Created #{pluralize(@user.notes.published.count, "Note")}"
              %li.has-info
                %i.far.fa-question-circle
                = "Asked #{pluralize(@user.questions.count, "Question")}"
              %li.has-info
                %i.fa.fa-reply
                = "Answered #{pluralize(@user.answered_questions.count, "Question")}"
            .follow.edit
              - if user_signed_in?
                - if current_user != @user
                  - if !current_user.following?(@user)
                    = form_for(current_user.active_relationships.build) do |f|
                      = hidden_field_tag :followed_id, @user.id
                      = f.submit "Follow", class: "btn-std btn-sm btn-follow-edit"
                  - else
                    = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
                      = f.submit "Following", class: "btn-std btn-sm btn-follow-edit"
                - else
                  = link_to "Settings", edit_user_registration_path, class: 'btn-std btn-sm btn-follow-edit'
              - else
                %a.trigger-sign-in.btn-std.btn-sm.btn-follow-edit{"data-toggle" => "modal", :href => "#sign-in"} Follow

      .col-md-9
        .this-property
          .this-property-nav
            .navbar-internal
              .left-links
                - if @user.creator? or @user.admin? or @user.superadmin?
                  = link_to user_path(@user, :tab => :note), class: "qi-navbar-link", id: (@tab=="note" ? 'active' : '') do
                    %i.fas.fa-edit
                    %span.d-none.d-lg-inline= 'Academic/Research'
                    = 'Notes'
                = link_to user_path(@user, :tab => :question), class: "qi-navbar-link active", id: (@tab=="question" ? 'active' : '') do
                  %i.far.fa-question-circle
                  = 'Asked'
                  %span.d-none.d-lg-inline= 'Questions'
                = link_to user_path(@user, :tab => :answer), class: "qi-navbar-link", id: (@tab=="answer" ? 'active' : '') do
                  %i.fas.fa-reply
                  = 'Answered'
                  %span.d-none.d-lg-inline= 'Questions'
                = link_to user_path(@user, :tab => :about), class: "qi-navbar-link", id: (@tab=="about" ? 'active' : '') do
                  %i.fas.fa-info-circle
                  = 'About'

          - if @tab == 'question' or @tab == 'answer'
            .questions.pt-4
              - if @questions.present?
                - @questions.each do |question|
                  .row
                    .col-lg-9.col-md-10.col-sm-12
                      .question.p-3
                        = link_to question do
                          %p.user-info.mb-2
                            = "#{question.chapter.name.humanize} •"
                            = pluralize(question.answers.count, "Answer")
                          %h3.title.mb-2= truncate sanitize(question.content, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 200
                    .col-lg-3.col-md-2.col-sm-12
                      - if can? :update, question
                        = link_to "Edit", edit_question_path(question), class: "btn-sm"
                      - if can? :destroy, question
                        = link_to "Delete", question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-sm delete"
                .pagination-nav.pt-4
                  = will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
              - else
                %p.no-property No questions asked yet.
          - elsif @tab == 'about'
            .about
              %p.title= 'Hi, welcome to my library.'
              %p.about_text
                - if @user.about == nil and  @user == current_user
                  = link_to "Write more about yourself here.", edit_user_registration_path
                - else
                  = @user.about
              %p.joined.mb-1= "Joined Mattrab Community on #{@user.created_at.strftime("%B %d, %Y")}."
              %p.views= "Total #{@total_views} views."
            - if can? :change_role, @user
              .d-flex.flex-row.py-2
                = select_tag "role", options_for_select(User.roles)
                %button.change-role.ml-3{:id=>"#{@user.id}@#!"}= 'Change Role'
          - else
            - if @user.creator? or @user.admin? or @user.superadmin?
              .notes.pt-4
                - if @notes.present?
                  - @notes.each do |note|
                    .row
                      .col-lg-9.col-md-10.col-sm-12
                        .note
                          .note_content.col-lg-8.col-md-12
                            %p.info.mb-0
                              = "Class #{note.grade.name.humanize} #{note.category.name.humanize} •"
                              = pluralize(note.view, "Read")
                            = link_to note do
                              %h3.title.my-1= note.title
                              %p.body.mb-1
                                = truncate sanitize(note.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 330 #truncate(strip_tags(note.body), length: 170)
                          .note_image.col-lg-4.col-md-12.d-none.d-lg-block
                            = link_to (image_tag note.image.url(:small)), note, class: 'img-note'
                      .col-lg-3.col-md-2.col-sm-12
                        - if current_user.present?
                          - if note.user == current_user or current_user.admin?
                            %p.status.mb-3
                              = note.is_verified ? "Verified" : "Not Verified"
                              = '•'
                              = note.status.humanize
                        - if can? :update, note
                          = link_to "Edit", edit_note_path(note), class: "btn-sm"
                        - if can? :destroy, note
                          = link_to "Delete", note_path(note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-sm delete"
                  .pagination-nav.pt-4
                    = will_paginate @notes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
                - else
                  %p.no-property No notes added yet.
          .space
