
.this-wrap
  .container
    .welcome.col-md-5
      %h2.title Change Password.
      %p.messege.d-sm-none.d-md-block
        Welcome Back! You can now change your Password.
        %br It is easy, right?
      - if controller_name != 'sessions'
        %p.if.d-sm-none.d-md-block Or remembered? Sign in here.
        = link_to "Sign In", new_session_path(resource_name), class: "btn-std btn-else d-sm-none d-md-block"
    .form-wrap.login.col-md-7
      .this-form
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .form-inputs
            .form-label-group.mb-3
              = f.input :password, label: false, placeholder: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }
            .form-label-group.mb-3
              = f.input :password_confirmation, label: false, placeholder: "Confirm your new password", required: true, input_html: { autocomplete: "new-password", class: 'form-control' }
          .form-actions.pt-3
            = f.button :submit, "Change My Password", class: 'btn-std btn-block btn-submit'



-# <h2>Change your password</h2>
-#
-# <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
-#   <%= f.error_notification %>
-#
-#   <%= f.input :reset_password_token, as: :hidden %>
-#   <%= f.full_error :reset_password_token %>
-#
-#   <div class="form-inputs">
-#     <%= f.input :password,
-#                 label: "New password",
-#                 required: true,
-#                 autofocus: true,
-#                 hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
-#                 input_html: { autocomplete: "new-password" } %>
-#     <%= f.input :password_confirmation,
-#                 label: "Confirm your new password",
-#                 required: true,
-#                 input_html: { autocomplete: "new-password" } %>
-#   </div>
-#
-#   <div class="form-actions">
-#     <%= f.button :submit, "Change my password" %>
-#   </div>
-# <% end %>
-#
-# <%= render "devise/shared/links" %>
