
.answer.mt-4.mb-2{:id => "answer-#{answer.id}"}
  .col-md-12
    .avatar.d-inline
      = image_tag answer.user.avatar.url(:small)
    .body.d-inline.ml-1
      = link_to answer.user.name, answer.user, class: 'username'
      %span.at
        = 'answered'
        = time_ago_in_words(answer.created_at)
        ago
    - if can? :destroy, answer
      = link_to 'Delete', note_question_answer_path(@note.id, question.id, answer.id), method: :delete, remote: true, class: 'btn-delete pull-right'
  .col-md-12.q-content
    .content.my-2
      = simple_format(answer.content)
