
.thread-answer{:id => "answer_#{answer.id}"}
  .answer-card-content
    .answer-card-header
      .a-user-avater
        = link_to (image_tag answer.user.avatar.url(:medium)), answer.user
      .a-user-info
        = link_to answer.user do
          %span.name= answer.user.name
          %span.followers= pluralize(answer.user.followers.count, "Follower")
      .a-options.dropdown.show
        %a#options-menu.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fas.fa-ellipsis-v
        - if can? :destroy, answer
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "options-menu"}
            = link_to edit_question_answer_path(@question, answer), remote: true, class: 'action-edit dropdown-item' do
              %i.fas.fa-edit
              Edit Answer
            = link_to question_answer_path(@question, answer), method: :delete, data: { confirm: "Are you sure? Deleting your answer is irreversible." }, remote: true, class: 'action-delete dropdown-item' do
              %i.fas.fa-trash
              Delete Answer
    .answer-card-body
      = simple_format(answer.content.gsub('method="delete"', '').gsub("method='delete'", '').gsub(/\biframe src="https?:\/\/(?!\S+(?:youtube|vimeo|vine|instagram|dailymotion|youku))\S+/, 'iframe ').gsub(/\biframe \S+ src="https?:\/\/(?!\S+(?:youtube|vimeo|vine|instagram|dailymotion|youku))\S+/, 'iframe '), {}, :sanitize => false)
    .answer-card-infos
      %p.buttons.align-self-end.mb-2
        %span
          %i.fa.fa-check-square
          = "Class #{@question.grade.name.humanize}"
        %span
          %i.fa.fa-hashtag
          = @question.category.name.humanize
    .answer-card-actions.btn-group
      - if user_signed_in?
        %a{:class => "a-card-action a-upvote", :id => "#{@question.id}@#!#{answer.id}"}= "Vote as Helpful Answer (#{answer.get_upvotes.size})"
      - else
        = link_to 'Sign in to Vote this Answer', new_user_session_path, class: 'a-card-action'




-# .answer.mt-4.mb-2{:id => "answer-#{answer.id}"}
-#   .col-md-12
-#     .avatar.d-inline
-#       = image_tag answer.user.avatar.url(:small)
-#     .body.d-inline.ml-1
-#       = link_to answer.user.name, answer.user, class: 'username'
-#       %span.at
-#         = 'answered'
-#         = time_ago_in_words(answer.created_at)
-#         ago
-#     - if can? :destroy, answer
-#       = link_to 'Delete', question_answer_path(@question.id, answer.id), method: :delete, remote: true, class: 'btn-delete pull-right'
-#   .col-md-12.q-content
-#     .content.my-2
-#       = simple_format(answer.content)
