
- if result.is_a? Note
  .note-wrap.col-md-8.offset-md-2.col-sm-12.offset-md-none.my-4
    .note
      .note_image.col-md-4.col-sm-12
        = link_to (image_tag result.image.url(:small)), result, class: 'img-note'
      .note_content.col-md-8.col-sm-12
        %p.info.mb-0= "#{result.grade.name.capitalize} › #{result.category.name.capitalize} › #{result.chapter.name.capitalize}"
        = link_to result do
          %h2.title.mb-1= result.title
          %p.body.mb-4
            = truncate sanitize(result.body, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 250
        %p.buttons.align-self-end.mb-2
          %span
            %i.fa.fa-comment-alt
            = pluralize(result.questions.count, "Question")
          %span
            %i.fa.fa-heart
            = pluralize(result.get_upvotes.size, "Thank")
          %span
            %i.fa.fa-eye
            = pluralize(result.view, "View")
- elsif result.is_a? Question
  .question-wrap.col-md-8.offset-md-2.col-sm-12.offset-md-none.my-4
    .question.p-3
      = link_to result do
        %p.user-info.mb-2= "'#{result.user.name}' asked in '#{result.note.present? ? result.note.title : 'Library'}'"
        %h3.title.mb-4= truncate sanitize(result.content, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 200
        %p.buttons.align-self-end.mb-2
          %span
            %i.fa.fa-reply
            = pluralize(result.answers.count, "Answer")
          %span
            %i.fa.fa-thumbs-up
            = "Helpful (#{result.get_upvotes.size})"
          %span
            %i.fa.fa-eye
            = pluralize(result.view, "View")
          %span
            %i.fa.fa-check-square
            = "#{result.grade.name.capitalize} › #{result.category.name.capitalize} › #{result.chapter.name.capitalize}"

- else
  .user-wrap.col-md-8.offset-md-2.col-sm-12.offset-md-none.my-4
    .user
      .user_avatar.col-md-4.col-sm-12
        = link_to (image_tag result.avatar_address(:pro)), result, class: 'avatar-user'
      .user_about.col-md-8.col-sm-12
        = link_to result do
          %h2.title.mb-1= result.name
          %p.body.mb-2
            = truncate sanitize(result.about, tags: ['<h1>', '<h2>', '<h3>', '<a>', '<p>', '<span>', '<div>', '<img>']), length: 250
        %p.buttons.align-self-end.mb-2
          %span
            %i.fa.fa-link
            = pluralize(result.followers.count, "Follower")
          %span
            %i.far.fa-comment-alt
            = pluralize(result.questions.count, "Question")
          %span
            %i.fa.fa-eye
            = pluralize(result.notes.sum(:view), "View")
