
#search
  .container.pb-5
    .ad.col-md-8.offset-md-2.mt-5
      -# = image_tag 'adhere.png'
      %script{:async => "", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      / inSearch
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8740559156368061", "data-ad-format" => "horizontal", "data-ad-slot" => "4246973750", "data-full-width-responsive" => "true", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
    .header.col-md-8.offset-md-2.mt-4
      %h3.title= "Search Results for '#{@query}'"

    .search-navbar.col-md-8.offset-md-2
      .navbar-internal
        .left-links
          = link_to search_path(:query => @query, :tab => :all), class: "qi-navbar-link", id: ('active' if @tab=="all" or @tab==nil) do
            %i.fas.fa-search
            = "All Results"
          = link_to search_path(:query => @query, :tab => :notes), class: "qi-navbar-link", id: ('active' if @tab=="notes") do
            %i.fas.fa-edit
            = "Notes"
          = link_to search_path(:query => @query, :tab => :questions), class: "qi-navbar-link", id: ('active' if @tab=="questions") do
            %i.far.fa-comment-alt
            = "Question Threads"
          = link_to search_path(:query => @query, :tab => :users), class: "qi-navbar-link", id: ('active' if @tab=="users") do
            %i.far.fa-user
            = "Mattrabians"

    - if @results.present?
      .search-results
        = render :partial => "result", :collection => @results
      .row.pagination-nav.is.justify-content-center
        = will_paginate @results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;', inner_window: 1, outer_window: 0
    - else
      .no-note.col-md-8.offset-md-2.col-sm-12.offset-md-none.my-4.pt-4
        %p.note Oops! No results were found for your question.
        %li.suggest Try asking question differently.
        %li.suggest Make sure that all words are spelled correctly.
        %li.suggest Try more general keywords.
        %p.suggest.mt-4 No answers yet?
        = link_to new_question_path, class: 'action-button' do
          %i.far.fa-comment-alt
          Post Your Question
