
%footer#footer
  .container.clearfix
    .app-info-row.row
      %ul.links.list-style-none.d-block.col-12.justify-content-center.mb-2.mb-lg-0
        %li.link-item
          %a{:href => 'https://www.facebook.com/mattrabcommunity', :target => '_blank'} © 2021 Mattrab Community.
        %li.link-item= link_to 'Privacy.', privacy_path
        %li.link-item= link_to 'Terms & Conditions.', terms_path
        %li.link-item= link_to 'Affiliate Program.', affiliate_program_path
        %li.link-item= link_to 'About Mattrab.', about_path
        %li.link-item= link_to 'FAQs and Help.', faqs_path if !user_signed_in?
