%header
  .container.clearfix
    .row
      .col-3.col-sm-3.col-md-3.d-flex.justify-content-start
        %a{:href => root_path, :class => "nav-brand"}
          = image_tag 'mrlogo.png'
      .col-12.col-sm-12.col-md-6.sm-nav-fixed-bottom.d-md-flex.justify-content-start.search-at-nav
        .nav-icons
          %a{:href => root_path, :title => "Home", :class => "#{(current_page?(root_path) or current_page?(home_path)) ? 'active' : ' '}"}
            %span
              %svg{:height => "28", :viewbox => "0 0 28 28", :width => "28"}
                %path{:d => "#{(current_page?(root_path) or current_page?(home_path)) ? 'M25.825 12.29C25.824 12.289 25.823 12.288 25.821 12.286L15.027 2.937C14.752 2.675 14.392 2.527 13.989 2.521 13.608 2.527 13.248 2.675 13.001 2.912L2.175 12.29C1.756 12.658 1.629 13.245 1.868 13.759 2.079 14.215 2.567 14.479 3.069 14.479L5 14.479 5 23.729C5 24.695 5.784 25.479 6.75 25.479L11 25.479C11.552 25.479 12 25.031 12 24.479L12 18.309C12 18.126 12.148 17.979 12.33 17.979L15.67 17.979C15.852 17.979 16 18.126 16 18.309L16 24.479C16 25.031 16.448 25.479 17 25.479L21.25 25.479C22.217 25.479 23 24.695 23 23.729L23 14.479 24.931 14.479C25.433 14.479 25.921 14.215 26.132 13.759 26.371 13.245 26.244 12.658 25.825 12.29' : 'M17.5 23.979 21.25 23.979C21.386 23.979 21.5 23.864 21.5 23.729L21.5 13.979C21.5 13.427 21.949 12.979 22.5 12.979L24.33 12.979 14.017 4.046 3.672 12.979 5.5 12.979C6.052 12.979 6.5 13.427 6.5 13.979L6.5 23.729C6.5 23.864 6.615 23.979 6.75 23.979L10.5 23.979 10.5 17.729C10.5 17.04 11.061 16.479 11.75 16.479L16.25 16.479C16.939 16.479 17.5 17.04 17.5 17.729L17.5 23.979ZM21.25 25.479 17 25.479C16.448 25.479 16 25.031 16 24.479L16 18.327C16 18.135 15.844 17.979 15.652 17.979L12.348 17.979C12.156 17.979 12 18.135 12 18.327L12 24.479C12 25.031 11.552 25.479 11 25.479L6.75 25.479C5.784 25.479 5 24.695 5 23.729L5 14.479 3.069 14.479C2.567 14.479 2.079 14.215 1.868 13.759 1.63 13.245 1.757 12.658 2.175 12.29L13.001 2.912C13.248 2.675 13.608 2.527 13.989 2.521 14.392 2.527 14.753 2.675 15.027 2.937L25.821 12.286C25.823 12.288 25.824 12.289 25.825 12.29 26.244 12.658 26.371 13.245 26.133 13.759 25.921 14.215 25.434 14.479 24.931 14.479L23 14.479 23 23.729C23 24.695 22.217 25.479 21.25 25.479Z'}"}
          %a{:href => notes_path, :title => "Notes", :class => "#{(controller.controller_name == 'notes' and !current_page?(root_path) and !current_page?(home_path)) ? 'active' : ' '}"}
            %i.fa-list-alt{:class => "#{(controller.controller_name == 'notes' and !current_page?(root_path) and !current_page?(home_path)) ? ' fas' : ' far'}"}
          %a{:href => questions_path, :title => "Questions", :class => controller.controller_name == 'questions' ? 'active' : ' '}
            %i.fa-question-circle{:class => controller.controller_name == 'questions' ? ' fas' : ' far'}
          %a.ask{:href => '#', :title => "Ask", :class => controller.controller_name == 'searches' ? 'active' : ' '}
            %span
              %svg{:height => "28", :viewbox => "0 0 28 28", :width => "28"}
                %path{:d => controller.controller_name == 'searches' ? 'M19.19 19.19L25 25' : 'M19.20 20.19L25 25', :fill => "none", :stroke => controller.controller_name == 'searches' ? '#5fcf80' : '#a4a7ab', "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
                %circle{:cx => controller.controller_name == 'searches' ? '12' : '13', :cy => controller.controller_name == 'searches' ? '12' : '13', "data-name" => "layer1", :fill => controller.controller_name == 'searches' ? '#5fcf80' : 'none', :r => "9", :stroke => controller.controller_name == 'searches' ? '#5fcf80' : '#a4a7ab', "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}

      - unless current_page?(home_path) or current_page?(root_path)
        .search-modal.overlay.d-none
          .am-modal-body.mr-animate-bitzoom
            .am-model-content
              .am-model-header
                %h3.am-modal-title.mb-0= 'Ask Mattrab your Question.'
                %a.ask.btn-sm.btn-modal-action
                  %i.fas.fa-times
              .am-form.form
                .body
                  %form{:action => "/search"}
                    .modal-actions
                      %i.fa.fa-search
                      %input.ask-ah{"aria-label" => "Search", :placeholder => "Search...", :name => "query", :type => "search"}
      .col-9.col-sm-9.col-md-3.d-flex.justify-content-end
        %ul.nav.justify-content-end
          %li.nav-item.btn-group.dropdown.cdropdown
            %a.nav-link.btn-action.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
              %i.fa.fa-plus.d-md-inline.d-lg-none
              %span.d-none.d-lg-inline= 'Create'
            .dropdown-menu.dropdown-menu-right
              - if !user_signed_in?
                = link_to new_user_session_path, class: 'dropdown-item' do
                  %i.fas.fa-sticky-note
                  = 'Note'
                = link_to new_user_session_path, class: 'dropdown-item' do
                  %i.fas.fa-comment-alt
                  = 'Question'
              - elsif can? :create, Note
                = link_to new_note_path, class: 'dropdown-item' do
                  %i.fas.fa-sticky-note
                  = 'Note'
                = link_to new_question_path, class: 'dropdown-item' do
                  %i.fas.fa-comment-alt
                  = 'Question'
              - else
                = link_to creator_appeal_path, class: 'dropdown-item' do
                  %i.fas.fa-sticky-note
                  = 'Note'
                = link_to new_question_path, class: 'dropdown-item' do
                  %i.fas.fa-comment-alt
                  = 'Question'

          - if !user_signed_in?
            - if current_page?(new_user_session_path)
              %li.nav-item
                = link_to new_user_registration_path, class: 'btn-action nav-link' do
                  %i.fa.fa-user-plus.d-md-inline.d-lg-none
                  %span.d-none.d-lg-inline= 'Sign Up'
            - else
              %li.nav-item
                = link_to new_user_session_path, class: 'btn-action nav-link' do
                  %i.fa.fa-user.d-md-inline.d-lg-none
                  %span.d-none.d-lg-inline= 'Sign In'
          - else
            %li.nav-item.btn-group.dropdown.ndropdown{"data-behavior" => "notifications"}
              %a.nav-link.dropdown-toggle{"data-behavior" => "open-n", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
                %i.fa.fa-bell
                %span.count{"data-behavior" => "unread-count"}
              .dropdown-menu.dropdown-menu-right
                %p.this-head.mb-0
                  = 'Notifications'
                  = link_to "Mark all as read", current_user, class: 'mark pull-right'
                .dropdown-divider.mb-1
                %p.this-type.mb-0= 'NEW'
                .dropdown-divider.mt-1
                .new-notifications{"data-behavior" => "new-notification-items"}

                .dropdown-divider.mb-1
                %p.this-type.mb-0= 'EARLIER'
                .dropdown-divider.mt-1
                .earlier-notifications{"data-behavior" => "earlier-notification-items"}

            %li.nav-item.btn-group.dropdown.udropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
                = image_tag current_user.avatar.url(:small)
              .dropdown-menu.dropdown-menu-right
                %p.nav-user-name.mb-0= current_user.name
                %p.nav-user-email.mb-0= current_user.email
                .dropdown-divider
                = link_to "Your Library", current_user, class: 'dropdown-item'
                = link_to "Your Questions", user_path(current_user, :tab => :question), class: 'dropdown-item'
                .dropdown-divider
                = link_to "FAQs and Help", faqs_path, class: 'dropdown-item'
                = link_to "Settings", edit_user_registration_path, class: 'dropdown-item'
                = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item'
