%header
  .container.clearfix
    .row
      .col-3.col-sm-3.col-md-9.d-flex.justify-content-start
        %a.nav-brand{:href => root_path}
          %span.d-none.d-md-inline= 'ask'
          mattrab
        .search-at-nav.justify-content-start.d-none.d-md-block
          %a.nav-link.d-inline-block.d-md-none.btn-action.search-toggle
            %i.fa.fa-arrow-left
          %form.ml-2{:action => "/search"}
            %i.fa.fa-search
            %input.ask-ah{"aria-label" => "Search", :placeholder => "Your question or any topic", :name => "query", :type => "search"}

      .col-9.col-sm-9.col-md-3.d-flex.justify-content-end
        %ul.nav.justify-content-end
          %li.nav-item.d-block.d-md-none
            %a.nav-link.btn-action.search-toggle
              %i.fa.fa-search
          - if !user_signed_in?
            %li.nav-item
              = link_to new_user_session_path, class: 'btn-action nav-link' do
                %i.fa.fa-sign-in-alt.d-md-inline.d-lg-none
                %span.d-none.d-lg-inline= 'Sign In'
            %li.nav-item
              = link_to new_user_registration_path, class: 'btn-action nav-link' do
                %i.fa.fa-user-plus.d-md-inline.d-lg-none
                %span.d-none.d-lg-inline= 'Sign Up'
          - else
            %li.nav-item.btn-group.dropdown.cdropdown
              %a.nav-link.btn-action.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
                %i.fa.fa-plus.d-md-inline.d-lg-none
                %span.d-none.d-lg-inline= 'Create'
              .dropdown-menu.dropdown-menu-right
                - if can? :create, Note
                  = link_to new_note_path, class: 'dropdown-item' do
                    %i.fas.fa-sticky-note
                    Note
                - else
                  = link_to creator_appeal_path, class: 'dropdown-item' do
                    %i.fas.fa-sticky-note
                    Note
                = link_to new_question_path, class: 'dropdown-item' do
                  %i.fas.fa-comment-alt
                  Question
            %li.nav-item.btn-group.dropdown.ndropdown{"data-behavior" => "notifications"}
              %a.nav-link.dropdown-toggle{"data-behavior" => "open-n", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
                %i.fa.fa-bell
                %span.count{"data-behavior" => "unread-count"}
              .dropdown-menu.dropdown-menu-right
                %p.this-head.mb-0
                  = 'Notifications'
                  = link_to "Mark all as read", current_user, class: 'mark pull-right'
                .dropdown-divider.mb-1
                %p.this-type.mb-0= 'NEW'
                .dropdown-divider.mt-1
                .new-notifications{"data-behavior" => "new-notification-items"}

                .dropdown-divider.mb-1
                %p.this-type.mb-0= 'EARLIER'
                .dropdown-divider.mt-1
                .earlier-notifications{"data-behavior" => "earlier-notification-items"}

            %li.nav-item.btn-group.dropdown.udropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button",  "data-offset" => "0,8" }
                = image_tag current_user.avatar.url(:small)
              .dropdown-menu.dropdown-menu-right
                %p.nav-user-name.mb-0= current_user.name
                %p.nav-user-email.mb-0= current_user.email
                .dropdown-divider
                = link_to "My Library", current_user, class: 'dropdown-item'
                = link_to "My Notes", user_path(current_user, :tab => :note), class: 'dropdown-item' if current_user.creator? or current_user.admin?
                .dropdown-divider
                = link_to "FAQs and Help", faqs_path, class: 'dropdown-item'
                = link_to "Settings", edit_user_registration_path, class: 'dropdown-item'
                = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item'
