!!!
%html
%head
  %title Mattrab
  = csrf_meta_tags
  = favicon_link_tag asset_path('mrlogo.png'), :rel => 'icon', :type =>  'image/png'
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
%body
  - if notice
    %p.notice= notice
  - elsif alert
    %p.notice= alert
  = yield
